@font-face {
  font-family: 'LXGW WenKai Screen';
  src: url('./fonts/lxgw-wenkai-screen-r.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Screen';
  src: url('./fonts/lxgw-wenkai-screen-b.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}